{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">

    <a href="{{ url_for('categories_list') }}" class="btn btn-secondary mb-3">⬅ Voltar</a>

    <div class="card shadow-sm">
        <div class="card-body">

            <h2>{{ category.name }}</h2>

            <p class="text-muted">
                Criada em {{ category.created_at.strftime('%d/%m/%Y') }}
            </p>

            <p>{{ category.description }}</p>

        </div>
    </div>

</div>

{% endblock %}
